.section-advantages{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-advantages_div{
    display: flex;
    justify-content: center;
    margin-bottom: 62px;
    padding-top: 104px;
}
.section-advantages_title{
    text-align: center;
    font-weight: 400;
font-size: 30px;
color: #606060;
margin-left: 14px;
margin-right: 14px;
}
.section-advantages_number-list{
    display: flex;
    gap: 62px;
    padding-left: 240px;
    padding-right: 240px;
    margin-bottom: 118px;
    flex-basis: calc((100% - 186px) / 4);
}
.section-advantages_number-list_item{
    font-weight: 500;
font-size: 25px;
color: #555;
}
.section-advantages_list{
    display: flex;
    gap: 20px;
    flex-basis: calc((100% - 60px) / 4);
    padding-bottom: 22px;
}
.section-advantages_list_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 265px;
height: 127px;
}
.section-advantages_list_item_p_span{
    color: black;
    font-weight: 700;

}
.section-advantages_list_item_p{
    font-weight: 300;
color: #000;
font-size: 14px;
line-height: 100%;
text-align: center;
}
.section-advantages_list_item_img{
    margin-bottom: 9px;
}